<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="fb-root"></div>

<div id="indexcontent">
	<a href="https://www.linkedin.com/pub/ryan-bartley/22/2b8/256" >
		<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="140" height="29" border="0" alt="View Ryan Bartley's profile on LinkedIn">  
    </a>
    <a href="https://twitter.com/k_____pinkhair" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">
    	Follow @k_____pinkhair
    </a>
    <div class="fb-follow" data-href="https://www.facebook.com/killerpinkhair" data-width="140" data-height="29" data-layout="button" data-show-faces="true"></div>
</div>