</div>
<div>
<div id="indexcontent">
<div id="index_container">
    <a href="https://www.youtube.com/channel/UCAKMB7wQD2P4VtQof0ZTBtw" target="_blank"><img width="48" height="48" src="/img/youtube-icon-drop.png"></a>
    <a href="https://www.linkedin.com/in/ryantreesebartley" target="_blank"><img width="48" height="48" src="/img/0996-linkedin-logo-drop.png"></a>
    <a href="mailto:ryanbartley@gmail.com"><img width="48" height="48" src="/img/0998-mail-drop.png"></a>
    <a href="https://twitter.com/k_____pinkhair" target="_blank"><img width="48" height="48" src="/img/twitter-512-drop.png"></a>
    <a href="https://facebook.com/killerpinkhair" target="_blank"><img width="48" height="48" src="/img/facebook-512-drop.png"></a>
</div>
</div>