<head>
	<script src="/js/jquery-1.9.1.js"></script>
</head>
<body>
	<CENTER><H1> RYAN BARTLEY'S SHITTY MAKESHIFT PORTFOLIO </H1></CENTER>
	
	<p>
		<H2 style="background-color: pink">THESIS DEVELOPMENT STUDIO</H2>
		<p>WEEK 1:</p>
		<ol>
			<li class="listItem">Post to Wiki...
				<div class="content">
					<ul>
						<li> Past Project -
							<a href="http://www.ghosttownmedia.com/81045/735736/work/jonas-brothers">
								Jonas Brothers Television Show Credits
							</a>
						</li>
					</ul>
				</div>
			</li>
			<br>
			<li class="listItem">Transcribed N2S map...
				<div class="content">
					<ul>
						<li>
							A game that deals with the sadness and importance of moving on.
						</li>
						<li >
							Keywords ...
							<ul>
								<li>Music</li>
								<li>Synergy</li>
								<li>Destruction</li>
								<li>Rebuilding</li>
								<li>Geometry</li>
								<li>Perfection</li>
								<li>Multiplayer</li>
								<li>Help</li>
								<li>Group Therapy</li>
								<li>Code</li>
								<li>Happiness from sadness</li>
								<li>Breaking down</li>
								<li>Glitch</li>
								<li>Not knowing the past</li>
								<li>Knowing it too well</li>
								<li>Control</li>
								<li>Colorful</li>
								<li>Tactile</li>
								<li>Correction</li>
								<li>Relationships</li>
							</ul>
						</li>
						<li>
							Forms
							<ul>
								<li>IPhone Game</li>
								<li>Web Game</li>
								<li>Desktop Game</li>
								<li>Generative Film</li>
								<li>Board Game</li>
							</ul>
						</li>
						<li>
							Materials
							<ul>
								<li>IPhone</li>
								<li>Code</li>
								<li>Projector</li>
								<li>Computer</li>
							</ul>
						</li>
						<li>
							Scale
							<ul>
								<li>Small as an IPhone</li>
								<li>Big as a wall</li>
								<li>Small as a computer screen</li>
								<li>Fits on a coffee table</li>
							</ul>
						</li>
						<li>
							Affects
							<ul>
								<li>Interested in helping</li>
								<li>Sad or regrettful</li>
								<li>A neutral mirror</li>
								<li>Playful</li>
								<li>Hard or difficult</li>
								<li>Able to please but not without effort</li>
							</ul>
						</li>
						<li>
							Verbs
							<ul>
								<li>Let go of the past</li>
								<li>Focus on the present</li>
								<li>Think about te past</li>
								<li>Learn to let go</li>
								<li>Have a dialogue about feeling</li>
								<li>Discuss emotion</li>
							</ul>
						</li>
						<li>
							Motivations
							<ul>
								<li>Translate an idea into a reality</li>
								<li>Trying to deal with my own past</li>
								<li>Test myself and what I've learned both about myself and my 	techniques</li>
								<li>Engaging people to start a dialogue</li>
							</ul>
						</li>
						<li>
							Inspirations
							<ul>
								<li>Indie Game The Movie</li>
								<li>World of Warcraft</li>
								<li>Fez</li>
								<li>Ryoichi Kurokawa</li>
								<li>Warhol</li>
							</ul>
						</li>
						<li>
							Ideal Audience
							<ul>
								<li>Myself</li>
								<li>My friends</li>
							</ul>
						</li>
						<li>
							Context/Location
							<ul>
								<li>On any connected device</li>
								<li>In a family room on a coffee table</li>
								<li>On the big wall at IAC</li>
							</ul>
						</li>
						<li>
							Affinities
							<ul>
								<li>Irreversible</li>
								<li>Fez</li>
								<li>Her</li>
								<li>Braid</li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<br>
			<li class="listItem">My Project...
				<div class="content">
					<ul>
						<li>
							For thesis, I'd like to make a game. More specifically, I'd like to bring people into <br>
							a world that I create based upon my personal experience of my life. The idea of the <br>
							game is vague at this point but I'd like it to be based around a shared experience of <br>
							a truly unique place. (Very rough sketch of the story) When you enter the world, <br>
							you don't know who you are. Slowly but surely, you find that what you've been <br>
							looking for and holding onto, the past, is holding you back. Much of the design <br>
							of the game will be based around 80's vector graphics and techniques employed by <br>
							glitch artists throughout the world. Control is very important to me and as such <br>
							I'm creating a control of the game that is the anti-thesis of control, the more <br>
							you try and control the world, the less control you have. Unfortunately, things <br>
							are still quite vague but I'm testing and researching constantly.
						</li>
						<br>
						<li>
							First Map <br>
							<a href="/images/N2SMap1.JPG"><img src="/images/N2SMap1.JPG" width="245" height="326" /></a>
						</li>
						<br>
						<li>
							Second Map <br>
							<a href="/images/N2SMap2.JPG"><img src="/images/N2SMap2.JPG" width="245" height="326" /></a>
						</li>
					</ul>
				</div>
			</li>
			<br>
			<li class="listItem">Inspiration Maps...
				<div class="content">
					<ol>
						<li>
							<h2><a href="http://www.youtube.com/watch?v=tfpKTclOnfI">Fez</a></h2>
						</li>
						<ul>
							<li>
								Keywords ...
								<ul>
									<li>8-bit</li>
									<li>Putting the world back together</li>
									<li>Perspective</li>
									<li>Against all odds</li>
									<li>Geometry</li>
									<li>Cubic</li>
									<li>Construction</li>
									<li>Glitch</li>
									<li>Sound</li>
									<li>Code</li>
									<li>Happiness from sadness</li>
									<li>Breaking down</li>
									<li>Correction</li>
								</ul>
							</li>
							<li>
								Forms
								<ul>
									<li>Computer Game</li>
									<li>Console Game</li>
								</ul>
							</li>
							<li>
								Materials
								<ul>
									<li>Code</li>
									<li>Computer</li>
									<li>Console</li>
								</ul>
							</li>
							<li>
								Scale
								<ul>
									<li>Small as a computer screen</li>
								</ul>
							</li>
							<li>
								Affects
								<ul>
									<li>Constructive</li>
									<li>Excited</li>
									<li>Playful</li>
									<li>Hard</li>
									<li>Disarray</li>
									<li>Messy</li>
								</ul>
							</li>
							<li>
								Verbs
								<ul>
									<li>Rebuilding</li>
									<li>Cleaning up the world</li>
									<li>Persevering</li>
									<li>Looking at things anew</li>
								</ul>
							</li>
							<li>
								Motivations
								<ul>
									<li>To finish something(he's in the documentary I mentioned above, Indie Game The Movie)</li>
									<li>Trying to deal with his world and how messy it is</li>
									<li>Escape</li>
									<li>Being cool</li>
								</ul>
							</li>
							<li>
								Inspirations
								<ul>
									<li>Metroid</li>
									<li>Mario Brothers</li>
									<li>8-bit Culture</li>
									<li>Noise Sound Artists</li>
									<li>Nintendo</li>
								</ul>
							</li>
							<li>
								Ideal Audience
								<ul>
									<li>Nostaligic Gamers</li>
									<li>Hipsters</li>
								</ul>
							</li>
							<li>
								Context/Location
								<ul>
									<li>In a world far away</li>
								</ul>
							</li>
							<li>
								Affinities
								<ul>
									<li>Super Meat Boy</li>
									<li>Fez</li>
									<li>Braid</li>
									<li>Super Mario Brothers</li>
									<li>Super Mario Clouds</li>
								</ul>
							</li>
						</ul>
						<li>
							<h2><a href="http://www.youtube.com/watch?v=kD5F54SZkMA">Limbo</a></h2>
						</li>
						<ul>
							<li>
								Keywords ...
								<ul>
									<li>Polished</li>
									<li>Animated</li>
									<li>Isolated</li>
									<li>Black And White</li>
									<li>Scary</li>
									<li>Sad</li>
									<li>Violent</li>
									<li>Shadowed</li>
									<li>Child-like</li>
									<li>Horror</li>
									<li>Adventure</li>
									<li>Lighting</li>
									<li>Rich Sound</li>
								</ul>
							</li>
							<li>
								Forms
								<ul>
									<li>Computer Game</li>
									<li>Console Game</li>
								</ul>
							</li>
							<li>
								Materials
								<ul>
									<li>Code</li>
									<li>Computer</li>
									<li>Console</li>
								</ul>
							</li>
							<li>
								Scale
								<ul>
									<li>Small as a computer screen</li>
								</ul>
							</li>
							<li>
								Affects
								<ul>
									<li>Dark</li>
									<li>Weird</li>
									<li>Horror</li>
									<li>Isolated</li>
									<li>Child-like</li>
									<li>Stoic</li>
								</ul>
							</li>
							<li>
								Verbs
								<ul>
									<li>Moving Forward</li>
									<li>Acheiving the Impossible</li>
									<li>Persevering</li>
								</ul>
							</li>
							<li>
								Motivations
								<ul>
									<li>Tell the story of an abandoned child</li>
									<li>Bring a nightmare to life</li>
									<li>Explore life as a child</li>
								</ul>
							</li>
							<li>
								Inspirations
								<ul>
									<li>Mario Brothers</li>
									<li>Perfect Darkness</li>
									<li>French Animation</li>
								</ul>
							</li>
							<li>
								Ideal Audience
								<ul>
									<li>Nostaligic Gamers</li>
									<li>Gamers in general</li>
								</ul>
							</li>
							<li>
								Context/Location
								<ul>
									<li>A nightmarish landscape</li>
								</ul>
							</li>
							<li>
								Affinities
								<ul>
									<li>Super Meat Boy</li>
									<li>Fez</li>
									<li>Braid</li>
									<li>Perfect Darkness</li>
								</ul>
							</li>
						</ul>
					</ol>
				</div>
			</li>
			<br>
			<li class="listItem">Reflections...
				<div class="content">
					<ul>
						<li>First Steps
							<ul>
								<li>Figure out control - Most important</li>
								<li>Make a few design choices</li>
								<li>Make the testing prototype</li>
								<li>Test these two things</li>
								<li>Start to figure out story</li>
							</ul>
						</li>
						<li>Is this big enough? - Absolutely.
							<ul>
								<li>Gameplay</li>
								<li>PlayTesting</li>
								<li>Story Development</li>
								<li>Design</li>
								<li>Programming</li>
							</ul>
						</li>
						<li>
							Because of how truly big this project is to undertake by myself, I'm going to make things, <br>
							tests, sample levels, graphic designs, etc. as modular and easily replicatable as possible. <br>
							I'm going to try as hard as possible not to allow myself to get stuck in problems for <br>
							unreasonable amounts of time. I'm going to make sure to keep moving forward on things. And <br>
							I'm going to set realistic goals. The first one being that I'd like a playable first level/demo <br>
							of my game that shows off the idea as the final for my thesis. 
						</li>
					</ul>
				</div>
			</li>
		</ol>
	</p>
</body>

<script>
$(document).ready(function () {
	$(".listItem").click(function ( event ) {
		$($(this)[0].childNodes).closest(".content").toggle("fast");
	});
	$(".content").hide();
});

</script>